#main-logo-container{
    display: inline-block;
    max-width: 3rem;
}

#main-logo-container > img{
    width: 100%;
}

button{
    cursor: pointer;
}

.navbar-nav > li {
    display: inline-block;
    margin: auto 0.5rem;
}

.alert{
	position: fixed;
	top: 100px;
	width: 60%;
	left: 20%;
	display: block;
}

.card{
    margin-bottom: 0.5rem;
}

.real-amount-hide{
    visibility: hidden;
}

.d-none{
    display: none !important;
}

#sidebar{
    height: fit-content;
}

#sidebar-container{
    position: fixed;
    height: -webkit-fill-available;
    margin-top: -1rem; 
}

@media (max-width: 768px) {
  #sidebar-container {
    z-index: 10;
    visibility: hidden;
  }
}

.collapsing,.collapse, .show, .in {
  visibility: visible !important;
  height: 0;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width;
  transition-property: width;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}